source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharpPlus 1.0.0-CI00089 CI
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget FSharp.Core
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget ExtCore
nuget FsLexYacc.Runtime
nuget FsUnit
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget Mono.Posix
