source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharpPlus 1.0.0
nuget FSharp.Core 4.3.4
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget ExtCore
nuget FsLexYacc.Runtime
nuget NUnit ~> 3.
nuget NUnit3TestAdapter ~> 3.
nuget Microsoft.NET.Test.Sdk ~> 15.
nuget FsUnit ~> 3.
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget Mono.Posix
